html {
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #222;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: #333333; 
    font-family: 'Open Sans';
    transition: background-color 0.3s ease;
    z-index: 100;
    position: fixed;
    
}

.navigation {
    text-decoration: none;
    margin-left: auto;
    margin-right: 4rem;
    
}

.social-icons {
    margin-right: auto;
    margin-left: 4rem;
    display: flex;
    gap: 3rem;
    
}

.container ul {
    list-style: none;
    padding: 0;
}

.logo {
    background-color: #808080;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 4rem;
    height: 4rem;
    transition: background-color 0.4s ease;
}

.logo:hover {
    background-color: lightgray;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s ease;
}

.logo.instagram-logo {
    background-image: url(https://cdn3.iconfinder.com/data/icons/peelicons-glyph/512/instagram__social__media_-256.png);
}

.logo.linkedin-logo { 
    background-image: url(https://cdn2.iconfinder.com/data/icons/neon-line-social-circles-black/100/Neon_Line_Social_Circles_50Icon_10px_grid-25-256.png);
}

.logo.github-logo {  
    background-image: url(https://cdn2.iconfinder.com/data/icons/neon-line-social-circles/100/Neon_Line_Social_Circles_50Icon_10px_grid-18-256.png);
}

.navigation a {
    
    text-decoration: none;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 1rem;
    color: lightgrey;
    font-size: 1.5rem;
    display: inline-block;
    width: 7rem;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #444;
}

.navigation a:not(:first-child) {
    margin-left: 4rem;
}

.navigation a:hover {
    background-color: #555;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.navigation a:active {
    transform: translateY(2px);
}

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58rem; 
    font-family: 'Open Sans';
    padding-top: 8rem;
}

.myphoto {
    margin-left: auto;
    margin-right: 7%;
    
}

#main-photo {
    width: 30rem;
    border-radius: 7%;
    margin-left: 3rem;
    box-shadow: 0 0px 20px #deb887;
}

.heading {
    margin-left: 15%;
    position: relative;
    top: 5rem;
}

.heading h1 {
    color: burlywood;
    font-size: 5rem;
    font-family: 'Kalam', 'Open Sans';
    line-height: 1.3;
    text-shadow: 0 5px 15px #555;
    position: relative;
    top: -10rem;
    
}

.heading p {
    position: relative;
    color: lightgrey;
    font-family: 'Open Sans';
    font-size: 1.7rem;
    
}

.greeting {
    left: -5rem;
    top: -10rem;
    line-height: 2.5;
}

.description {
    text-shadow: 0 5px 15px black;
    position: relative;
    top: -10rem;
}

.first,
.simple {
    position: relative;
    top: 10rem;
    line-height: 1.3;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

.footer-info {
    padding: 10px 20px;
    color: grey;
    font-size: 0.8rem;
    font-family: 'Open Sans';
    text-align: center;
}

.footer-info span {
    display: block;
}

.headings {
    padding-top: 6rem;
    text-align: center;
    font-family: 'Kalam', 'Open Sans';
    font-size: 5rem;
    color: burlywood;
    text-shadow: 0 5px 15px #555;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1800px; 
    margin: 0 auto; 
    border: 3px solid #deb887;
    border-radius: 15px;
    box-shadow: 0 5px 15px #555;
    background-color: #424242;
    height: 30rem;
    position: relative;
    top: -2rem;
    overflow: hidden;
}

.tabs {
    display: flex;
    
}

.tab {
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    background-color: #222;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 1.7rem;
    
}

.tab:not(:first-child) {
    border-left: 2px solid #444;
}

.tab:hover {
    background-color: #333;
}

.tab.active {
    position: relative; 
}

.tab.active::after {
    content: ''; 
    position: absolute;
    left: 12.5%; 
    bottom: 0; 
    width: 75%; 
    height: 2px; 
    background-color: burlywood; 

}

.content {
    flex: 1;
    margin: 20px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 1.4rem;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

[data-tab="tab1"] {
    border-radius: 10px 0 0 10px;
}

[data-tab="tab3"] {
    border-radius: 0 10px 10px 0;
}

.exp-text  li,
.skill-text li {
    line-height: 2.5;
}

.contact {
    min-height: auto;
    padding-bottom: 2rem;
    
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -5rem;
    
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 90%;
    height: 50%;
    padding: 1rem;
    font-size: 1.6rem;
    color: #999;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #808080;
}

.contact form .textarea-field textarea {
    width: 95%;
    position: relative;
    top: 1rem;
    left: .5rem;
    resize: none;
    height: 10rem;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #888;
    font-family: 'Open Sans';
}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 100%;
    top: .5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: #444;
    border: .2rem solid #deb887;
    border-radius: .8rem;
    font-family: 'Open Sans';
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    z-index: 1;
    overflow: hidden;
    transition: background-color 0.3s ease;
    color: #deb887;
}

.btn-box .btn:hover {
    background-color: #deb887;
    color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.btn-box .btn:active {
    transform: translateY(2px);
}

/* Breakpoints*/

@media (max-width: 1100px) {
    html {
        font-size: 55%;
    }

    .navigation a {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        display: block;
        
    }

    .navigation a:not(:first-child) {
        margin-left: 0;
    }

    #main-container {
        padding-top: 1rem;
    }

    .myphoto {
        margin-right: 2%;
    }

    #main-photo {
        width: 20rem;
        margin-left: 1rem;
    }

    .heading {
        margin-left: 5%;
    }

    .greeting {
        left: 0rem;
    }
}